
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

// Global Variables
$delta-blue: rgba(4, 84, 165, 1);

// Header Style
$header-height: 110px;

.header-outer {
  background-color: rgba(16, 16, 16, 1);
  height: $header-height;
}

.header-inner {
  height: $header-height;
}

.delta-logo-wrapper {
  display: inline-block;
  line-height: $header-height;
}

.header-nav {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
  height: $header-height;
}

.header-nav-item {
  display: inline-block;
  line-height: $header-height;
  margin-left: 28px;

  i {
    font-size: 35px;
    color: #ffffff;
    transition: color 0.15s ease-in-out;
    transition-property: color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;

    &:hover {
      color: $delta-blue;
      transition: color 0.15s ease-in-out;
      transition-property: color;
      transition-duration: 0.15s;
      transition-timing-function: ease-in-out;
      transition-delay: initial;

    }
  }
}


// Sub Header Style
$sub-head-height: 65px;

.sub-head-outer {
  height: $sub-head-height;
  background-color: $delta-blue;
}

.sub-head-inner {
  height: $sub-head-height;
}

.sub-nav {
  height: $sub-head-height;
  padding: 0;
  list-style: none;
  margin: 0;
}

.sub-nav-item {
  height: $sub-head-height;
  text-align: center;
  cursor: pointer;
  background-color: rgba(0, 89, 184, 0);
  transition: background-color 0.25s ease-in-out;
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;

  &:hover {
    background-color: rgba(0, 89, 184, 1);
    transition: background-color 0.25s ease-in-out;
    transition-property: background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
  }

  h3 {
    color: #ffffff;
  }
}

// Products Menu

.product-menu-wrapper {
  padding: 0;
}

.product-menu {
  visibility: hidden;
  position: relative;
  top: 9px;
  list-style: none;
  padding: 0;
  background: rgba(226, 226, 226, 1);

  &.menu-open {
    visibility: visible;
  }
}

.product-menu-item {
  height: 60px;
  border-bottom: 1px solid rgba(183, 183, 183, 1);
  transition: background-color 0.3s, border-bottom 0.3s ease-in-out;
  transition-property: background-color, border-bottom;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;

  span {
    color: $delta-blue;
    font-size: 20px;
    line-height: 60px;
    transition: color 0.3s ease-in-out;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
  }

  &:hover {
    background-color: $delta-blue;
    border-bottom: none;
    transition: background-color 0.3s, border-bottom 0.3s ease-in-out;
    transition-property: background-color, border-bottom;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;

    span {
      color: white;
      transition: color 0.3s ease-in-out;
      transition-property: background-color;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      transition-delay: initial;
    }
  }
}

// Banner Styles


.banner-outer {
  background: url('../images/header-img.jpg') center center;
  background-size: cover;
  position: fixed;
  z-index: -3;
  right: 0;
  left: 0;
  height: 750px;
}

.banner-outer::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.3);
}

.banner-inner {
  position: relative;
  top: 10%;
}

.banner-title {
  text-align: center;
  color: #ffffff;

  h1 {
    font-size: 65px;
    font-weight: 300;
    letter-spacing: 6px;
    margin: 0;
  }
}

.banner-sub {
  padding: 0 20%;
  margin-top: 50px;

  p {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    color: #ffffff;
  }
}

.banner-btn-wrapper {
  text-align: center;
  margin-top: 50px;
}

#banner-btn {
  font-weight: 200;
  font-size: 28px;
  letter-spacing: 2px;
  color: white;
  background-color: $delta-blue;
  border: none;
  border-radius: 0;
  width: 260px;
  height: 68px;
  transition: background-color 0.25s ease-in-out;
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;

  &:hover {
    background-color: rgba(0,0,0, 0);
    border: 2px solid #ffffff;
    transition: background-color 0.25s, border 0.25s ease-in-out;
    transition-property: background-color, border;
    transition-duration: 0.25s 0.25s;
    transition-timing-function: ease-in-out;
    transition-delay: initial, initial;
  }
}
