
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


// Header Style
$header-height: 108px;

.header-outer {
  background-color: rgba(16, 16, 16, 1);
  height: $header-height;
}

.header-inner {
  height: $header-height;
}

.delta-logo-wrapper {
  display: inline-block;
  line-height: $header-height;
}
